<footer>
    <div class="container">
        <div class="footer__content">
            <div class="footer__left">
                <div class="footer__title">
                    <img src="img/logos.png" alt="Logo" class="header__logo" />
                    <div class="header__title">Voodoo</div>
                </div>
                <div class="footer__text">
                    © VOODOO MARKET 2025 All rights belong to their copyright holders.
                </div>
            </div>
            <div class="footer__right">
                <div style="font-weight: 600">Stack technologiczny:</div>
                <div class="footer__text">
                    Wykorzystane języki programowania: HTML + CSS + C#
                </div>
            </div>
        </div>
        <div class="footer__divider"></div>
        <div class="footer__down">
            Projekt i realizacja: Illia Perepechyn 123820 &copy; 2025 Społeczna
            Akademia Nauk w Łodzi
        </div>
    </div>
</footer>
